/* Reset browser defaults globally */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0f172a;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
